### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Finding Total Schools with Unique 
Total_Schools = len(school_data_complete.school_name.unique())
#Finding Total Students with Count
Total_Students = school_data_complete.student_name.count()
#Calculating Budget by adding each unique value
Total_Budget = sum(school_data_complete.budget.unique())
#Calculating Math Average by using mean
Math_Average = school_data_complete.math_score.mean()
#Calculating Reading Average by using mean
Reading_Average = school_data_complete.reading_score.mean()
#Calculating Math Passing scores by using scores over 70 and making it a percentage
District_Passing_Math = ((school_data_complete[school_data_complete['math_score'] >= 70 ].math_score.count())/ Total_Students)*100
#Calculating Reading Passing scores by using scores over 70 and making it a percentage
District_Passing_Reading = ((school_data_complete[school_data_complete['reading_score']>= 70 ].math_score.count())/ Total_Students)*100
#Overall Passing Fuction
Overall_Passing = ((District_Passing_Math + District_Passing_Reading)/2)

#Creating a DataFrame to hold and display the values in a table
District_Complete = pd.DataFrame({"Total Schools": [Total_Schools],
                                  "Total Students": [Total_Students],
                                  "Total Budget": [Total_Budget],
                                  "Average Math Score": [Math_Average],
                                  "Average Reading Score": [Reading_Average],
                                  "% Passing Math": [District_Passing_Math],
                                  "% Passing Reading": [District_Passing_Reading],
                                  "% Overall Passing Rate":[Overall_Passing]})
#Cleaning the Data using .map & .format
District_Complete["Total Students"] = District_Complete["Total Students"].map("{:,.0f}".format)
District_Complete["Total Budget"] = District_Complete["Total Budget"].map("${:,.2f}".format)
District_Complete["Average Math Score"] = District_Complete["Average Math Score"].map("{:,.2f}".format)
District_Complete["Average Reading Score"] = District_Complete["Average Reading Score"].map("{:,.2f}".format)
District_Complete["% Passing Math"] = District_Complete["% Passing Math"].map("{:,.2f}%".format)
District_Complete["% Passing Reading"] = District_Complete["% Passing Reading"].map("{:,.2f}%".format)
District_Complete["% Overall Passing Rate"] = District_Complete["% Overall Passing Rate"].map("{:,.2f}%".format)

#Print District Summary
District_Complete

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
#Creating varaibles to hold school data values, using "school_name" to start each row 

#Creating Types using an index using a key word
School_Types = school_data.set_index(["school_name"])["type"]
#Creating Total Student using Count
School_Total_Students = school_data_complete["school_name"].value_counts()
#Creating a Budget using mean
School_Budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
#Creating Per Student dividing budget by total
Budget_Per_Student = School_Budget/School_Total_Students
#Calculating Average Math using mean
School_Math_Score_Avg = school_data_complete.groupby(["school_name"]).mean()["math_score"]
#Calculating Average Reading using mean
School_Reading_Score_Avg = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
#Calculating Passing Math Percent over 70%
School_Passing_Math = school_data_complete[school_data_complete["math_score"]>= 70]
Percent_Passing_Math = (School_Passing_Math.groupby(["school_name"]).count()["student_name"]/School_Total_Students)*100
#Calculating Passing Reading Percent over 70%
School_Passing_Reading = school_data_complete[school_data_complete["reading_score"]>= 70]
Percent_Passing_Reading = (School_Passing_Reading.groupby(["school_name"]).count()["student_name"]/School_Total_Students)*100
#Calculating Overall Passing
School_Overall_Passing_Percent = (Percent_Passing_Math + Percent_Passing_Reading)/2

#Creating a DataFrame to display the values in a table
School_Summary = pd.DataFrame({"School Type": School_Types,
                                "Total Students": School_Total_Students,
                                "Total School Budget": School_Budget,
                                "Per Student Budget": Budget_Per_Student,
                                "Average Math Score": School_Math_Score_Avg,
                                "Average Reading Score": School_Reading_Score_Avg,
                                "% Passing Math": Percent_Passing_Math,
                                "% Passing Reading": Percent_Passing_Reading,
                                "% Overall Passing Rate": School_Overall_Passing_Percent})
#Creating the Column headers
School_Summary = School_Summary[["School Type","Total Students","Total School Budget", "Per Student Budget","Average Math Score",
                                        "Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
#Cleaning the data using .map & .format
School_Summary["Total Students"] = School_Summary["Total Students"].map("{:,.0f}".format)
School_Summary["Total School Budget"] = School_Summary["Total School Budget"].map("${:,.2f}".format)
School_Summary["Per Student Budget"] = School_Summary["Per Student Budget"].map("${:,.2f}".format)
School_Summary["Average Math Score"] = School_Summary["Average Math Score"].map("{:,.2f}".format)
School_Summary["Average Reading Score"] = School_Summary["Average Reading Score"].map("{:,.2f}".format)
School_Summary["% Passing Math"] = School_Summary["% Passing Math"].map("{:,.2f}%".format)
School_Summary["% Passing Reading"] = School_Summary["% Passing Reading"].map("{:,.2f}%".format)
School_Summary["% Overall Passing Rate"] = School_Summary["% Overall Passing Rate"].map("{:,.2f}%".format)

#Print School Summary
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,94.97%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [5]:
#Finding Top Schools using Sort Values by ascending
Top_Schools = School_Summary.sort_values(["% Overall Passing Rate"], ascending = False)
Top_Schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [6]:
#Finding Bottom Schools using Sort Values by ascending
Bottom_Schools = School_Summary.sort_values(["% Overall Passing Rate"], ascending = True)
Bottom_Schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [8]:
#Create Variables to hold grade value as a conditional statement
Ninth = school_data_complete[(school_data_complete["grade"] == "9th")]
Tenth = school_data_complete[(school_data_complete["grade"] == "10th")]
Eleventh = school_data_complete[(school_data_complete["grade"] == "11th")]
Twelfth = school_data_complete[(school_data_complete["grade"] == "12th")]

#Create Variables to hold math score value
Ninth_Scores = Ninth.groupby(["school_name"]).mean()["math_score"]
Tenth_Scores = Tenth.groupby(["school_name"]).mean()["math_score"]
Eleventh_Scores = Eleventh.groupby(["school_name"]).mean()["math_score"]
Twelfth_Scores = Twelfth.groupby(["school_name"]).mean()["math_score"]

#Create Dataframe to display the held values
Scores_Math_Final = pd.DataFrame({"9th Avg Math Score": Ninth_Scores, "10th Avg Math Score": Tenth_Scores,
                                  "11th Avg Math Score": Eleventh_Scores, "12th Avg Math Score": Twelfth_Scores})

#Creating Column headers
Scores_Math_Final = Scores_Math_Final[["9th Avg Math Score","10th Avg Math Score","11th Avg Math Score","12th Avg Math Score"]]

#Clearing the "school_name" column name
Scores_Math_Final.index.name = None

#Cleaning the Data
Scores_Math_Final["9th Avg Math Score"] = Scores_Math_Final["9th Avg Math Score"].map("{:,.2f}".format)
Scores_Math_Final["10th Avg Math Score"] = Scores_Math_Final["10th Avg Math Score"].map("{:,.2f}".format)
Scores_Math_Final["11th Avg Math Score"] = Scores_Math_Final["11th Avg Math Score"].map("{:,.2f}".format)
Scores_Math_Final["12th Avg Math Score"] = Scores_Math_Final["12th Avg Math Score"].map("{:,.2f}".format)

#Print Math Final
Scores_Math_Final

,9th Avg Math Score,10th Avg Math Score,11th Avg Math Score,12th Avg Math Score
Bailey High School,77.08,77.00,77.52,76.49
Cabrera High School,83.09,83.15,82.77,83.28
Figueroa High School,76.40,76.54,76.88,77.15
Ford High School,77.36,77.67,76.92,76.18
Griffin High School,82.04,84.23,83.84,83.36
Hernandez High School,77.44,77.34,77.14,77.19
Holden High School,83.79,83.43,85.00,82.86
Huang High School,77.03,75.91,76.45,77.23
Johnson High School,77.19,76.69,77.49,76.86
Pena High School,83.63,83.37,84.33,84.12
Rodriguez High School,76.86,76.61,76.40,77.69
Shelton High School,83.42,82.92,83.38,83.78
Thomas High School,83.59,83.09,83.50,83.50
Wilson High School,83.09,83.72,83.20,83.04
Wright High School,83.26,84.01,83.84,83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [9]:
#Create Variables to hold grade value as a conditional statement
Ninth = school_data_complete[(school_data_complete["grade"] == "9th")]
Tenth = school_data_complete[(school_data_complete["grade"] == "10th")]
Eleventh = school_data_complete[(school_data_complete["grade"] == "11th")]
Twelfth = school_data_complete[(school_data_complete["grade"] == "12th")]

#Create Variables to hold math score value
Ninth_Scores = Ninth.groupby(["school_name"]).mean()["reading_score"]
Tenth_Scores = Tenth.groupby(["school_name"]).mean()["reading_score"]
Eleventh_Scores = Eleventh.groupby(["school_name"]).mean()["reading_score"]
Twelfth_Scores = Twelfth.groupby(["school_name"]).mean()["reading_score"]

#Create Dataframe to display the held values
Scores_Reading_Final = pd.DataFrame({"9th Avg Reading Score": Ninth_Scores, "10th Avg Reading Score": Tenth_Scores, "11th Avg Reading Score": Eleventh_Scores, "12th Avg Reading Score": Twelfth_Scores})

#Creating Column headers
Scores_Reading_Final = Scores_Reading_Final[["9th Avg Reading Score","10th Avg Reading Score","11th Avg Reading Score","12th Avg Reading Score"]]

#Clearing the "school_name" column name
Scores_Reading_Final.index.name = None

#Cleaning the Data
Scores_Reading_Final["9th Avg Reading Score"] = Scores_Reading_Final["9th Avg Reading Score"].map("{:,.2f}".format)
Scores_Reading_Final["10th Avg Reading Score"] = Scores_Reading_Final["10th Avg Reading Score"].map("{:,.2f}".format)
Scores_Reading_Final["11th Avg Reading Score"] = Scores_Reading_Final["11th Avg Reading Score"].map("{:,.2f}".format)
Scores_Reading_Final["12th Avg Reading Score"] = Scores_Reading_Final["12th Avg Reading Score"].map("{:,.2f}".format)

#Print Math Final
Scores_Reading_Final

,9th Avg Reading Score,10th Avg Reading Score,11th Avg Reading Score,12th Avg Reading Score
Bailey High School,81.30,80.91,80.95,80.91
Cabrera High School,83.68,84.25,83.79,84.29
Figueroa High School,81.20,81.41,80.64,81.38
Ford High School,80.63,81.26,80.40,80.66
Griffin High School,83.37,83.71,84.29,84.01
Hernandez High School,80.87,80.66,81.40,80.86
Holden High School,83.68,83.32,83.82,84.70
Huang High School,81.29,81.51,81.42,80.31
Johnson High School,81.26,80.77,80.62,81.23
Pena High School,83.81,83.61,84.34,84.59
Rodriguez High School,80.99,80.63,80.86,80.38
Shelton High School,84.12,83.44,84.37,82.78
Thomas High School,83.73,84.25,83.59,83.83
Wilson High School,83.94,84.02,83.76,84.32
Wright High School,83.83,83.81,84.16,84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [13]:
# Establish the bins.
Spending_Bins = [0, 585, 630, 645, 680]
Labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary since it has the "Per Student Budget" 
School_Spending_df = School_Summary.copy()

# Use `pd.cut` to categorize spending based on the bins.
School_Spending_df["Spending Ranges (Per Student)"] = pd.cut(Budget_Per_Student, Spending_Bins, labels = Labels)

#  Calculate averages for the desired columns. 
spending_math_scores = School_Spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = School_Spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = School_Spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = School_Spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = School_Spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

# Assemble into DataFrame
Spending_Summary = pd.DataFrame({"Avg Math Score": Spending_Math,"Avg Reading Score": Spending_Reading,
                                        "% Passing Math": Spending_Passing_Math,"% Passing Reading": Spending_Passing_Reading,
                                 "% Overall Passing Rate": Overall_Passing,})
# Display results
Spending_Summary

C:\Users\Will\AppData\Local\Temp\ipykernel_6500\1659812046.py:12: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  spending_math_scores = School_Spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

KeyError: 'Average Math Score'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [15]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

School_Summary["School Size"] = pd.cut(Total_Students, size_bins, labels = size_labels)

# Calculate averages for the desired columns. 
size_math_scores = School_Summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = School_Summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = School_Summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = School_Summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = School_Summary.groupby(["School Size"]).mean()["% Overall Passing"]

# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score" : size_math_scores,
                             "Average Reading Score": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})

ValueError: Input array must be 1 dimensional

## Scores by School Type

* Perform the same operations as above, based on school type

In [14]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = School_Summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = School_Summary.groupby(["School Type"]).mean()["Average Reading Scrore"]
type_passing_math = School_Summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = School_Summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = (type_passing_math + type_passing_reading) / 2

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score" : type_math_scores,
                             "Average Reading Score": type_reading_scores,
                             "% Passing Math": type_passing_math,
                             "% Passing Reading": type_passing_reading,
                             "% Overall Passing Rate": overall_passing_rate})


# Display results
type_summary

C:\Users\Will\AppData\Local\Temp\ipykernel_6500\1986871575.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  type_math_scores = School_Summary.groupby(["School Type"]).mean()["Average Math Score"]

KeyError: 'Average Math Score'